@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (isAuthenticated)
{
    <div class="dropdown">
        <button class="btn btn-outline-light btn-lg px-4 rounded-pill dropdown-toggle" type="button" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i> @userName
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/account/profile"><i class="bi bi-person"></i> الملف الشخصي</a></li>
            <li><a class="dropdown-item" href="/account/orders"><i class="bi bi-box-seam"></i> الطلبيات</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form action="/Account/Logout" method="post" class="m-0">
                    <button type="submit" class="dropdown-item text-danger">
                        <i class="bi bi-box-arrow-right"></i> تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a href="/Account/Login" class="btn btn-outline-light btn-lg px-4 rounded-pill" style="border-width: 2px;">
        <i class="bi bi-box-arrow-in-right"></i> تسجيل الدخول
    </a>
}

@code {
    private bool isAuthenticated = false;
    private string userName = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            
            isAuthenticated = user.Identity?.IsAuthenticated ?? false;
            if (isAuthenticated)
            {
                userName = user.Identity?.Name ?? "مستخدم";
            }
        }
        catch
        {
            isAuthenticated = false;
        }
    }
}
